SERVER_PORT=:8080

POSTGRES_DSN=postgres://todouser:todopassword@localhost:5432/tododb?sslmode=disable
REDIS_DSN=redis://redis:6379

POSTGRES_DB=tododb
POSTGRES_USER=todouser
POSTGRES_PASSWORD=todopassword
POSTGRES_PORT=5432

JWT_SECRET=dev_secret_change_me_in_production
JWT_EXPIRE=24h